# Environment files
.env.keys
.env.local
.env*.local

# Dependencies
node_modules

# Build outputs
dist
.next
.turbo

# System files
.DS_Store

# Database
*.sql
*.dump

# Temporary files
tmp/
.vercel
